.colorSquare {
  display: inline-block;
  font-size: 10px;
  text-align: center;
  font-family: monospace;
  margin: 0 3px 0 3px;
}

.top-row {
  display: inline-block;
}

.timer {
  margin-left: 50px;
}

input {
  margin-bottom: 20px;
}

#play-again {
  float: right;
  padding-right: 100px;
  color: white;
}

h5 {
  display: inline-block;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

td, th {
  padding: 5px 20px 5px 20px;
  width: 150px;
  text-align: center;
}
