.colorSquare {
  display: inline-block;
  font-size: 10px;
  text-align: center;
  font-family: monospace;
  margin: 0 3px 0 3px;
}

.top-row {
  display: inline-block;
}

.timer {
  margin-left: 50px;
}

input {
  margin-bottom: 20px;
}

h5 {
  display: inline-block;
}
